@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    position: sticky;
    z-index: 3;
    top: 0px;
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0.842);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-brand-logo {
    margin: 0px 10px;
}

.nav .nav-all-items {
    position: relative;
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.nav li.nav-items {
    margin: 10px;
}

.nav li.nav-items>a {
    display: block;
    color: rgba(68, 68, 68, 0.644);
    text-decoration: none;
    transition: all 0.50s;
}

.nav li.nav-items>a:hover {
    color: black;
    transform: translateY(-10px);
}

.btn-toggle {
    display: none;
    border: none;
    transition: 0.50s;
    background-color: transparent;
    margin: 0px 10px;
}

.toggle-block {
    position: relative;
    right: 0px;
}

.slide-over {
    background-color: transparent;
    display: none;
    width: 100%;
    margin: 50% 0px;
    position: absolute;
    z-index: 2;
    padding: 10px 50px;
}

.slide-over .nav-all-items {
    background-color: rgb(255, 255, 255);
    padding: 0px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: shadow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: 0.50s;
}

@keyframes shadow {
    0% {
        box-shadow: 10px 3px 17px gray;
    }

    20% {
        box-shadow: 10px 8px 17px gray;
    }

    40% {
        box-shadow: -10px 8px 17px gray;
    }

    60% {
        box-shadow: 0px 8px 17px gray;
    }

    80% {
        box-shadow: 5px 8px 17px gray;
    }

    100% {
        box-shadow: 10px 3px 17px gray;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background-color: transparent;
    transition: all 0.50s;
}

.slide-over .nav-all-items li,
.slide-over .nav-all-items li a {
    display: block;
    margin: 8px 0px 5px 0px;
    color: rgba(68, 68, 68, 0.644);
    text-decoration: none;
    transition: all 0.50s;
}

.active {
    color: black;
}

.slide-over .nav-all-items li.nav-item>a:hover {
    color: black;
    transform: translateY(-10px);
}

.slider-background-img {
    width: 100%;
    position: absolute;
}

.card {
    width: auto;
    margin: 10px 20px;
    position: relative;
}

.card .card-title {
    font-weight: 600;
}

.card .btn-slide-card {
    width: auto;
    border: none;
    background: transparent;
    margin: 5px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 3px;
    transition: all .50s;
}

.card .btn-slide-card svg {
    width: 20px;
}

.card .card-body .card-text {
    display: none;
}

.redirect-component {
    width: calc(100% - 60%);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.redirect-component button {
    width: auto;
    border: none;
    border-radius: 20px;
    background-color: aqua;
    padding: 10px;
    transition: all 0.50s;
}

.redirect-component button:hover {
    color: white;
    background-color: rgb(98, 0, 255);
}

.bookmarks {
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.about-section {
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.about-section img {
    width: 50%;
}

.about-section .about-content {
    width: 50%;
}

.about-section .about-content ul {
    text-align: justify;
    font-size: 0.9rem;
}

.footer-section {
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-section .box {
    padding: 10px;
}

@media screen and (max-width : 650px) {
    .nav {
        overflow: hidden;
        align-items: flex-start;
    }

    .btn-toggle {
        display: block;
        position: relative;
    }

    .nav .nav-all-items {
        display: none;
    }

    .card {
        font-size: 12px;
    }

    .card .card-title {
        font-size: 14px;
    }

    .card .btn-slide-card svg {
        width: 15px;
    }

    .redirect-component {
        font-size: 10px;
        width: 60%;
    }

    .about-section img {
        width: 100%;
    }

    .about-section .about-content {
        padding: 10px;
        width: 100%;
    }

    .footer-section{
        font-size: 14px;
        text-align: -webkit-match-parent;
        padding: 0px;
        justify-content: flex-start;
    }
}

@media screen and (max-width : 400px) {
    .card {
        font-size: 10px;
    }

    .card .card-title {
        font-size: 12px;
    }

    .card .btn-slide-card svg {
        width: 12px;
    }

    .redirect-component {
        width: 70%;
    }
}